h1 {
	font-family: Arial;
}
h2 {
	font-family: Georgia;
}
p1 {
	font-family: Verdana;
}
p2 {
	font-family: "Trebuchet MS";
}
p {
	font-family: Impact;
}
p4 {
	font-family: "Arial Black";
}
p {
	font-family: "Comic Sans MS";
}