#elem1 {
	position: relative;


	width: 500px;
	height: 400px;
	margin: 0px auto;
	border: 1px solid green;
}
#elem2 {
	position: absolute;
	top: 100px;
	left: 100px;

	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	border: 1px solid red;
}
